.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after, .dk-select-multi, .dk-select-multi *, .dk-select-multi *:before, .dk-select-multi *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dk-select, .dk-select-multi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  width: 200px;
  cursor: pointer; }

.dk-selected {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 0.4em;
  padding: 0 1.5em 0 0.5em;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  .dk-selected:before, .dk-selected:after {
    content: '';
    display: block;
    position: absolute;
    right: 0; }
  .dk-selected:before {
    top: 50%;
    border: solid transparent;
    border-width: 0.25em 0.25em 0;
    border-top-color: #CCCCCC;
    margin: -0.125em 0.5em 0 0; }
  .dk-selected:after {
    top: 0;
    height: 100%;
    border-left: 1px solid #CCCCCC;
    margin: 0 1.5em 0 0; }

.dk-selected-disabled {
  color: #BBBBBB; }

.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0;
  right: 0; }

.dk-select-open-up .dk-select-options {
  border-radius: 0.4em 0.4em 0 0;
  margin-bottom: -1px;
  bottom: 100%; }

.dk-select-open-down .dk-select-options {
  border-radius: 0 0 0.4em 0.4em;
  margin-top: -1px;
  top: 100%; }

.dk-select-multi .dk-select-options {
  max-height: 10em; }

.dk-select-options {
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 0.4em;
  list-style: none;
  margin: 0;
  max-height: 10.5em;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.25em 0;
  width: auto;
  z-index: 100; }

.dk-option-selected {
  background-color: #3297fd;
  color: #fff; }

.dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit; }

.dk-option {
  padding: 0 0.5em; }

.dk-select-options .dk-option-highlight {
  background-color: #3297fd;
  color: #fff; }

.dk-select-options .dk-option-disabled {
  color: #BBBBBB;
  background-color: transparent; }

.dk-select-options .dk-option-hidden {
  display: none; }

.dk-optgroup {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 0.25em 0;
  margin-top: 0.25em; }
  .dk-optgroup + .dk-option {
    margin-top: 0.25em; }
  .dk-optgroup + .dk-optgroup {
    border-top-width: 0;
    margin-top: 0; }
  .dk-optgroup:nth-child(2) {
    padding-top: 0;
    border-top: none;
    margin-top: 0; }
  .dk-optgroup:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.dk-optgroup-label {
  padding: 0 0.5em 0.25em;
  font-weight: bold;
  width: 100%; }

.dk-optgroup-options {
  list-style: none;
  padding-left: 0; }
  .dk-optgroup-options li {
    padding-left: 1.2em; }

.dk-select-open-up .dk-selected {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #3297fd; }

.dk-select-open-down .dk-selected {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #3297fd; }

.dk-select-open-up .dk-selected:before, .dk-select-open-down .dk-selected:before {
  border-width: 0 0.25em 0.25em;
  border-bottom-color: #3297fd; }

.dk-select-open-up .dk-selected:after, .dk-select-open-down .dk-selected:after {
  border-left-color: #3297fd; }

.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options, .dk-select-multi:focus .dk-select-options {
  display: block;
  border-color: #3297fd; }

.dk-select-multi:hover, .dk-select-multi:focus {
  outline: none; }

.dk-selected:hover, .dk-selected:focus {
  outline: none;
  border-color: #3297fd; }
  .dk-selected:hover:before, .dk-selected:focus:before {
    border-top-color: #3297fd; }
  .dk-selected:hover:after, .dk-selected:focus:after {
    border-left-color: #3297fd; }

.dk-select-disabled {
  opacity: 0.6;
  color: #BBBBBB;
  cursor: not-allowed; }
  .dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
    border-color: inherit; }
    .dk-select-disabled .dk-selected:hover:before, .dk-select-disabled .dk-selected:focus:before {
      border-top-color: inherit; }
    .dk-select-disabled .dk-selected:hover:after, .dk-select-disabled .dk-selected:focus:after {
      border-left-color: inherit; }

select[data-dkcacheid] {
  display: none; }
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=8821d0dac95588859284bbae313bfc0f)
 * Config saved to config.json and https://gist.github.com/8821d0dac95588859284bbae313bfc0f
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
body {
	font-family: Arial;

	background: transparent;
}
input.has-error {
	border-color: red;
}
.hidden-link {
	position: absolute;
	left: -99999px;
}
.date-block {
	display: inline-block;
	width: 60%;
}
.dk-select {
	margin-right: 5px;
}
.date-block {
	width: 100%;
}
@font-face {
	font-family: 'NiveaBold';
	src: url(http://ext14.niveamen.ua/23/play_root/public/js/../fonts/nivea_boldtext-webfont.eot);
	src: url(http://ext14.niveamen.ua/23/play_root/public/js/../fonts/nivea_boldtext-webfont.eot?#iefix) format('embedded-opentype'),
	url(http://ext14.niveamen.ua/23/play_root/public/js/../fonts/nivea_boldtext-webfont.woff) format('woff'),
	url(http://ext14.niveamen.ua/23/play_root/public/js/../fonts/nivea_boldtext-webfont.ttf) format('truetype'),
	url(http://ext14.niveamen.ua/23/play_root/public/js/../fonts/nivea_boldtext-webfont.svg#webfont) format('svg');
	font-weight: 700;
	font-style: normal;
}
.container {
	max-width: 970px;
	margin: auto;
	color: #5d5d5d;
}
.boldtext {
	color: #003566;
	font-size: 56px;
	font-family: 'NiveaBold';
	margin-top: 0;
}
.boldtext1 {
	color:#003566;
	font-size: 32px;
	font-family: 'NiveaBold';
}
@media (max-width: 1024px) {
	.boldtext1 {
		font-size: 25px;
	}
}
.tabs {
	margin-bottom: 30px;
}
.tabs .tabitem {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;

	color: #4d4d4d;
	cursor: pointer;
}
@media (max-width: 767px) {
	.tabs .tabitem {
		display: inline-block;
		vertical-align: top;

		font-size: 14px;
	}
}
@media (max-width: 479px) {
	.tabs .tabitem {
		max-width: 80px;
	}
}
.tabs .tabitem + .tabitem {
	padding-left: 25px;
}
.tabitem.active {
	color: #b3b3b3;
	cursor: auto;
	text-decoration: none;
}
.tab {
	display: none;
}
.tab.tabopen {
	display: block;
}
.bigtext{
	color:#5d5d5d;
	font-size: 16px;
	font-family: 'Arial';
	line-height: 26px;
}
.bigtext2{
	color:#5d5d5d;
	font-size: 24px;
	font-family: 'Arial';
	line-height: 36 px;
}
.process {
	width:970px;
	height: 555px;
	/*background: url('images/1-4have.jpg') left top no-repeat;*/
	position: relative;
}
.txt  {
	font-family: 'NiveaBold';
	font-size: 26px;
	color: #fff;
	position: absolute;
}
.txt2 {
	font-family: 'NiveaBold';
	font-size: 30px;
	color: #fff;
	color: #2092d7;
	margin: 28px 0;
}
.txtbottom {
	position: absolute;
	top: 243px;
	left: 10px;
}
.txt1-1 { left: 38px; top: 25px;	 }
.txt1-2 { left: 38px; top: 106px; }
.txt1-3 { left: 38px; top: 187px; }

.txt2 span { left: 438px; top: 380px;
	font-family: 'NiveaBold';
	font-size: 26px;
	color: #003566;
}

.helloworld {
	color: #5d5d5d;
	font-size: 15px;
	font-family: 'Arial';
	width: 90%;
	display: inline-block;
	margin-left: 142px;
}
.newfield{
	box-sizing: border-box;
	width:60%;
	font-size: 18px;
	font-family: 'Arial';
	padding: 12px;
	border: 2px solid #cccccc;
	color: #5d5d5d;
	outline: none;
}
@media (max-width:767px) {
	.newfield {
		width: 100%;
	}
}
.btn {
	display: inline-block;

	font-family:'NiveaBold';
	font-size: 12px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
	border: 10px solid #003566;
	background-color: #003566;
	cursor: pointer;
}
@media(max-width: 767px) {
	.btn {
		width: 100%;
	}
}
.btn:hover {
	background: #05437a;
	border-color: #05437a;
	color: #fff;
	text-decoration: none;
}
.label {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
}
@media (max-width:767px) {
	.label {
		display: block;
		width: 100%;
	}
}
.phone-helper {
	position: relative;
}
.phone-prefix {
	position: absolute;
	left: 12px;
	top: -2px;
	font-size: 18px;
	font-family: 'Arial';
	color: #5d5d5d;
}
.tip {
	padding-left: 250px;
	font-size: 0.8em;
	letter-spacing: 0.01em;
}
.smalltext {
	color: #5d5d5d;
	font-size: 12px;
	margin-top: 135px 0 0 0;
}

.popup {
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 53, 102, .95);
}
.popup_pad {
	width: 50%;
	margin: auto;
	margin-top: 1050px;
}
.popup_close {
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
.window {
	margin-top: 32px;
	background-color: #fff;
	color: #5d5d5d;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.sm {
	font-size: 14px;
	margin-bottom: 50px;
}
.popup_title {
	float: left;
	font-size: 42px;
	font-family: 'NiveaBold';
	color: #fff;
	text-transform: uppercase;
}
.both {
	clear: both;
}
.window_text {
	margin-bottom: 20px;
}


.rules {
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 53, 102, .95);
}
.rules_pad {
	width: 90%;
	margin: auto;
	margin-top: 400px;
}
.rules_close {
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
.show_rules {
	cursor: pointer;
	text-decoration: underline;
	color: #003566;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.players-list {
	padding-left: 50px;
	margin-top: 0;

	font-size: 32px;
	font-family: 'NiveaBold';
}
@media (min-width:1200px) {
	.players-list {
		margin-left: -50px;
	}
}
.players-list li {
	position: relative;

	border-bottom: 1px solid lightgray;
}
.players-list li:hover {
	cursor: pointer;
}
.players-list .active {
	background-color: #fff;
}
.players-list .request span {
	opacity: .7;
}
.players-list span {
	font-size: 16px;
	font-family: 'Arial';
}
.players-list li img {
	margin-right: 20px;
}
.page-sub-title {
	font-family: 'NiveaBold';
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #003566;
	line-height: 24px;
	font-size: 18px;
}
.teamlist {
	border-collapse: collapse;
}
.teamlist th {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}
.teamlist td {
	padding: 10px 0;
}
.teamlist td:first-child {
	padding-left: 20px;
}
@media (max-width: 320px) {
	.teamlist th:first-child {
		width: 45%;
	}
	.teamlist td:first-child {
		max-width: 120px;
		overflow: hidden;
		padding-left: 10px;
	}
	.teamlist td:nth-child(2) {
		max-width: 74px;
		overflow: hidden;
		padding-left: 10px;
	}
	.teamlist td,
	.teamlist th {
		padding-left: 10px;
	}
}
.teamlist th:first-child {
	padding-left: 60px;
}
.teamlist td:first-child a,
.teamlist td:last-child {
	font-size: 18px;
	font-family: 'NiveaBold';
	text-decoration: none;

	color: #003566;
}
.teamlist td:last-child {
	font-size: 25px;
}
.teamlist td img {
	margin-right: 20px;
	vertical-align: middle;
}
.teamlist tbody tr:nth-child(odd) {
	background-color: #e6e6e6;
}
.teamlist tbody tr:nth-child(even) {
	background-color: #fff;
}
.teamlist tbody tr {
	transition: .3s;
}
.teamlist tbody tr:hover {
	background: #b3b3b3;
	/*background: #fff;*/
}
.teamlist tr:hover td:first-child a,
.teamlist tr:hover td:last-child {
	/*color: #05437a;*/
	color: #fff;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.half-width {
	width: 50%;
}
.gray-wrapper {
	background: #e6e6e6;
	padding: 10px 30px 50px;
	margin-bottom: 30px;
}
.team-logo {
	margin-right: 30px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb40 {
	margin-bottom: 40px;
}
.mt10 {
	margin-top: 10px;
}
.mt0 {
	margin-top: 0;
}
.mb50 {
	margin-bottom: 50px;
}
.player-list-wrapper {
	position: relative;
}
.edit-player,
.player-request,
.player-info {
	position:absolute;
	z-index: 2;
	top: 0;
	left: 100%;

	box-sizing: border-box;
	width: 100%;
	padding: 20px 40px;

	font-family: 'Arial';
	font-size: 14px;

	background: #fff;
	border: 1px solid lightgray;
	cursor: auto;
}
@media (max-width: 767px) {
	.edit-player,
	.player-request,
	.player-info {
		left: -50px;
		right: 0;
		width: auto;
	}
}
.edit-player label,
.player-request label,
.player-info label {
	font-size: 14px;
}
.close-popup {
	position: absolute;
	top: 20px;
	right: 20px;

	font-size: 20px;

	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
textarea.newfield {
	vertical-align: middle;
	resize:none;
}
.main-page-title {
	margin-top: 10px;
	font-size: 40px;
}
.fullwidth-btn {
	width:100%;
	font-size:25px;
	height:70px;
	margin-bottom:100px;
}
.fz40 {
	font-size: 40px;
}
.blue-wrapper {
	background:#003566;
	padding:50px;
}
.w15p {
	width: 15%;
}
.w40p {
	width: 40%;
}
.w60p {
	width: 60%;
}
.w65p {
	width: 65%;
}
.w85p {
	width: 85%;
}
.fullwidth {
	box-sizing: border-box;
	width: 100%;
}
.halfwidth {
	width: 50%;
}
.input-small {
	width: 60px;
}
.cw {
	color: #fff;
}
.dib {
	display: inline-block;
}
.db {
	display: block;
}
.teamcard-user-form {
	box-sizing: border-box;
	background: #fff;
	padding: 5px 15px;
}
.mb0 {
	margin-bottom: 0;
}
.team-wrapper {
	position: relative;
}

/* dropkick */
.dk-select {
	margin-right: 5px;
}
.dk-select:last-of-type {
	margin-right: 0;
}
.dk-select,
.dk-select-multi {
	width: 85px;
}
.dk-selected {
	height: 49px;
	border: 2px solid #cccccc;
	border-radius: 0;
	line-height: 45px;
}
.dk-selected:hover,
.dk-selected:focus {
	outline: none;
	border-color: #ccc;
}
.dk-selected:hover:after,
.dk-selected:focus:after {
	border-left-color: #cccccc;
}
.dk-selected:hover:before,
.dk-selected:focus:before {
	border-top-color: #ccc;
}
.dk-select-open-up .dk-select-options,
.dk-select-open-down .dk-select-options,
.dk-select-multi:focus .dk-select-options {
	border: 1px solid #ccc;
	max-height: 250px;
	border-radius: 0;
}
.dk-select-options .dk-option-highlight {
	background-color: #003566;
}
.dk-option-selected {
	background-color: #003566;
}
.dk-select-options {
	padding: 0;
}
.dk-option {
	height: 34px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
}
.dk-select-open-up .dk-selected:before,
.dk-select-open-down .dk-selected:before {
	border-bottom-color: #ccc;
}
.dk-select-open-up .dk-selected:after,
.dk-select-open-down .dk-selected:after {
	border-left-color: #ccc;
}
.dk-select-open-down .dk-selected {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #ccc;
	color: rgba(92, 92, 92, 0.5);
}

@media (max-width: 767px) {
	.sm-pull-none {
		float: none;
	}
	.sm-fullwidth {
		width: 100%;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	textarea,
	input[type="text"],
	input[type="button"],
	input[type="submit"] {
		-webkit-appearance: none;
		border-radius: 0;
	}
	.btn {
		padding: 5px !important;
		height: 40px !important;
		font-size: 22px !important;
		background-color: #003566 !important;
		-khtml-border-radius: 0;
		border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		line-height: 6px !important;
		font-size: 10px !important;
	}
	.page-sub-title {
		line-height: 18px !important;
		font-size: 14px !important;
	}
	.team-logo {
		margin-right: 30px;
		max-width: 90%;
	}
}

.pagination > li > a,
.pagination > li > span {
	cursor: pointer;
	color: #003566;
}

.pagination > .active > a,
.pagination > .active > a:hover {
	background: #003566;
	border-color: #003566;
}

.pagination {
	vertical-align: middle;
	margin-right: 20px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pb350 {
	padding-bottom: 350px;
}
