body {
	font-family: Arial;

	background: transparent;
}
input.has-error {
	border-color: red;
}
.hidden-link {
	position: absolute;
	left: -99999px;
}
.date-block {
	display: inline-block;
	width: 60%;
}
.dk-select {
	margin-right: 5px;
}
.date-block {
	width: 100%;
}
@font-face {
	font-family: 'NiveaBold';
	src: url(./fonts/nivea_boldtext-webfont.eot);
	src: url(./fonts/nivea_boldtext-webfont.eot?#iefix) format('embedded-opentype'),
	url(./fonts/nivea_boldtext-webfont.woff) format('woff'),
	url(./fonts/nivea_boldtext-webfont.ttf) format('truetype'),
	url(./fonts/nivea_boldtext-webfont.svg#webfont) format('svg');
	font-weight: 700;
	font-style: normal;
}
.container {
	max-width: 970px;
	margin: auto;
	color: #5d5d5d;
}
.boldtext {
	color: #003566;
	font-size: 56px;
	font-family: 'NiveaBold';
	margin-top: 0;
}
.boldtext1 {
	color:#003566;
	font-size: 32px;
	font-family: 'NiveaBold';
}
@media (max-width: 1024px) {
	.boldtext1 {
		font-size: 25px;
	}
}
.tabs {
	margin-bottom: 30px;
}
.tabs .tabitem {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;

	color: #4d4d4d;
	cursor: pointer;
}
@media (max-width: 767px) {
	.tabs .tabitem {
		display: inline-block;
		vertical-align: top;

		font-size: 14px;
	}
}
@media (max-width: 479px) {
	.tabs .tabitem {
		max-width: 80px;
	}
}
.tabs .tabitem + .tabitem {
	padding-left: 25px;
}
.tabitem.active {
	color: #b3b3b3;
	cursor: auto;
	text-decoration: none;
}
.tab {
	display: none;
}
.tab.tabopen {
	display: block;
}
.bigtext{
	color:#5d5d5d;
	font-size: 16px;
	font-family: 'Arial';
	line-height: 26px;
}
.bigtext2{
	color:#5d5d5d;
	font-size: 24px;
	font-family: 'Arial';
	line-height: 36 px;
}
.process {
	width:970px;
	height: 555px;
	/*background: url('images/1-4have.jpg') left top no-repeat;*/
	position: relative;
}
.txt  {
	font-family: 'NiveaBold';
	font-size: 26px;
	color: #fff;
	position: absolute;
}
.txt2 {
	font-family: 'NiveaBold';
	font-size: 30px;
	color: #fff;
	color: #2092d7;
	margin: 28px 0;
}
.txtbottom {
	position: absolute;
	top: 243px;
	left: 10px;
}
.txt1-1 { left: 38px; top: 25px;	 }
.txt1-2 { left: 38px; top: 106px; }
.txt1-3 { left: 38px; top: 187px; }

.txt2 span { left: 438px; top: 380px;
	font-family: 'NiveaBold';
	font-size: 26px;
	color: #003566;
}

.helloworld {
	color: #5d5d5d;
	font-size: 15px;
	font-family: 'Arial';
	width: 90%;
	display: inline-block;
	margin-left: 142px;
}
.newfield{
	box-sizing: border-box;
	width:60%;
	font-size: 18px;
	font-family: 'Arial';
	padding: 12px;
	border: 2px solid #cccccc;
	color: #5d5d5d;
	outline: none;
}
@media (max-width:767px) {
	.newfield {
		width: 100%;
	}
}
.btn {
	display: inline-block;

	font-family:'NiveaBold';
	font-size: 12px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
	border: 10px solid #003566;
	background-color: #003566;
	cursor: pointer;
}
@media(max-width: 767px) {
	.btn {
		width: 100%;
	}
}
.btn:hover {
	background: #05437a;
	border-color: #05437a;
	color: #fff;
	text-decoration: none;
}
.label {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
}
@media (max-width:767px) {
	.label {
		display: block;
		width: 100%;
	}
}
.phone-helper {
	position: relative;
}
.phone-prefix {
	position: absolute;
	left: 12px;
	top: -2px;
	font-size: 18px;
	font-family: 'Arial';
	color: #5d5d5d;
}
.tip {
	padding-left: 250px;
	font-size: 0.8em;
	letter-spacing: 0.01em;
}
.smalltext {
	color: #5d5d5d;
	font-size: 12px;
	margin-top: 135px 0 0 0;
}

.popup {
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 53, 102, .95);
}
.popup_pad {
	width: 50%;
	margin: auto;
	margin-top: 1050px;
}
.popup_close {
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
.window {
	margin-top: 32px;
	background-color: #fff;
	color: #5d5d5d;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}
.sm {
	font-size: 14px;
	margin-bottom: 50px;
}
.popup_title {
	float: left;
	font-size: 42px;
	font-family: 'NiveaBold';
	color: #fff;
	text-transform: uppercase;
}
.both {
	clear: both;
}
.window_text {
	margin-bottom: 20px;
}


.rules {
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 53, 102, .95);
}
.rules_pad {
	width: 90%;
	margin: auto;
	margin-top: 400px;
}
.rules_close {
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
.show_rules {
	cursor: pointer;
	text-decoration: underline;
	color: #003566;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.players-list {
	padding-left: 50px;
	margin-top: 0;

	font-size: 32px;
	font-family: 'NiveaBold';
}
@media (min-width:1200px) {
	.players-list {
		margin-left: -50px;
	}
}
.players-list li {
	position: relative;

	border-bottom: 1px solid lightgray;
}
.players-list li:hover {
	cursor: pointer;
}
.players-list .active {
	background-color: #fff;
}
.players-list .request span {
	opacity: .7;
}
.players-list span {
	font-size: 16px;
	font-family: 'Arial';
}
.players-list li img {
	margin-right: 20px;
}
.page-sub-title {
	font-family: 'NiveaBold';
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #003566;
	line-height: 24px;
	font-size: 18px;
}
.teamlist {
	border-collapse: collapse;
}
.teamlist th {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}
.teamlist td {
	padding: 10px 0;
}
.teamlist td:first-child {
	padding-left: 20px;
}
@media (max-width: 320px) {
	.teamlist th:first-child {
		width: 45%;
	}
	.teamlist td:first-child {
		max-width: 120px;
		overflow: hidden;
		padding-left: 10px;
	}
	.teamlist td:nth-child(2) {
		max-width: 74px;
		overflow: hidden;
		padding-left: 10px;
	}
	.teamlist td,
	.teamlist th {
		padding-left: 10px;
	}
}
.teamlist th:first-child {
	padding-left: 60px;
}
.teamlist td:first-child a,
.teamlist td:last-child {
	font-size: 18px;
	font-family: 'NiveaBold';
	text-decoration: none;

	color: #003566;
}
.teamlist td:last-child {
	font-size: 25px;
}
.teamlist td img {
	margin-right: 20px;
	vertical-align: middle;
}
.teamlist tbody tr:nth-child(odd) {
	background-color: #e6e6e6;
}
.teamlist tbody tr:nth-child(even) {
	background-color: #fff;
}
.teamlist tbody tr {
	transition: .3s;
}
.teamlist tbody tr:hover {
	background: #b3b3b3;
	/*background: #fff;*/
}
.teamlist tr:hover td:first-child a,
.teamlist tr:hover td:last-child {
	/*color: #05437a;*/
	color: #fff;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.half-width {
	width: 50%;
}
.gray-wrapper {
	background: #e6e6e6;
	padding: 10px 30px 50px;
	margin-bottom: 30px;
}
.team-logo {
	margin-right: 30px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb40 {
	margin-bottom: 40px;
}
.mt10 {
	margin-top: 10px;
}
.mt0 {
	margin-top: 0;
}
.mb50 {
	margin-bottom: 50px;
}
.player-list-wrapper {
	position: relative;
}
.edit-player,
.player-request,
.player-info {
	position:absolute;
	z-index: 2;
	top: 0;
	left: 100%;

	box-sizing: border-box;
	width: 100%;
	padding: 20px 40px;

	font-family: 'Arial';
	font-size: 14px;

	background: #fff;
	border: 1px solid lightgray;
	cursor: auto;
}
@media (max-width: 767px) {
	.edit-player,
	.player-request,
	.player-info {
		left: -50px;
		right: 0;
		width: auto;
	}
}
.edit-player label,
.player-request label,
.player-info label {
	font-size: 14px;
}
.close-popup {
	position: absolute;
	top: 20px;
	right: 20px;

	font-size: 20px;

	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
textarea.newfield {
	vertical-align: middle;
	resize:none;
}
.main-page-title {
	margin-top: 10px;
	font-size: 40px;
}
.fullwidth-btn {
	width:100%;
	font-size:25px;
	height:70px;
	margin-bottom:100px;
}
.fz40 {
	font-size: 40px;
}
.blue-wrapper {
	background:#003566;
	padding:50px;
}
.w15p {
	width: 15%;
}
.w40p {
	width: 40%;
}
.w60p {
	width: 60%;
}
.w65p {
	width: 65%;
}
.w85p {
	width: 85%;
}
.fullwidth {
	box-sizing: border-box;
	width: 100%;
}
.halfwidth {
	width: 50%;
}
.input-small {
	width: 60px;
}
.cw {
	color: #fff;
}
.dib {
	display: inline-block;
}
.db {
	display: block;
}
.teamcard-user-form {
	box-sizing: border-box;
	background: #fff;
	padding: 5px 15px;
}
.mb0 {
	margin-bottom: 0;
}
.team-wrapper {
	position: relative;
}

/* dropkick */
.dk-select {
	margin-right: 5px;
}
.dk-select:last-of-type {
	margin-right: 0;
}
.dk-select,
.dk-select-multi {
	width: 85px;
}
.dk-selected {
	height: 49px;
	border: 2px solid #cccccc;
	border-radius: 0;
	line-height: 45px;
}
.dk-selected:hover,
.dk-selected:focus {
	outline: none;
	border-color: #ccc;
}
.dk-selected:hover:after,
.dk-selected:focus:after {
	border-left-color: #cccccc;
}
.dk-selected:hover:before,
.dk-selected:focus:before {
	border-top-color: #ccc;
}
.dk-select-open-up .dk-select-options,
.dk-select-open-down .dk-select-options,
.dk-select-multi:focus .dk-select-options {
	border: 1px solid #ccc;
	max-height: 250px;
	border-radius: 0;
}
.dk-select-options .dk-option-highlight {
	background-color: #003566;
}
.dk-option-selected {
	background-color: #003566;
}
.dk-select-options {
	padding: 0;
}
.dk-option {
	height: 34px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
}
.dk-select-open-up .dk-selected:before,
.dk-select-open-down .dk-selected:before {
	border-bottom-color: #ccc;
}
.dk-select-open-up .dk-selected:after,
.dk-select-open-down .dk-selected:after {
	border-left-color: #ccc;
}
.dk-select-open-down .dk-selected {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: #ccc;
	color: rgba(92, 92, 92, 0.5);
}

@media (max-width: 767px) {
	.sm-pull-none {
		float: none;
	}
	.sm-fullwidth {
		width: 100%;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	textarea,
	input[type="text"],
	input[type="button"],
	input[type="submit"] {
		-webkit-appearance: none;
		border-radius: 0;
	}
	.btn {
		padding: 5px !important;
		height: 40px !important;
		font-size: 22px !important;
		background-color: #003566 !important;
		-khtml-border-radius: 0;
		border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		line-height: 6px !important;
		font-size: 10px !important;
	}
	.page-sub-title {
		line-height: 18px !important;
		font-size: 14px !important;
	}
	.team-logo {
		margin-right: 30px;
		max-width: 90%;
	}
}

.pagination > li > a,
.pagination > li > span {
	cursor: pointer;
	color: #003566;
}

.pagination > .active > a,
.pagination > .active > a:hover {
	background: #003566;
	border-color: #003566;
}

.pagination {
	vertical-align: middle;
	margin-right: 20px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pb350 {
	padding-bottom: 350px;
}
