
$color-white: #FFF;
$color-light-grey-1: #FDFDFD;
$color-light-grey: #F9F9F9;
$color-lighter-grey: #F0F0F0;
$color-grey: #EAEAEA;
$color-grey-level1: #E4E4E4;
$color-grey-level2: #DDD;
$color-grey-level3: #CCC;
$color-dark-grey: #2f2f30;


$color-clearer-dark-blue: #9eaabd;
$color-clear-dark-blue: #73849d;
$color-dark-blue: #353d47;
$color-dark-blue-1: #22A7F0;
$color-dark-blue-hover: #363c46;

$color-dark-black: #232323;

$color-clear-red: #ffb8aa;
$color-lightest-red: #fb927d;
$color-light-red: #19B5FE;
$color-red: #FA2A00;
$color-darkest-red: #7c1a06;

$color-light-green: #88F159;

$color-clear-yellow: #ffe5a2;
$color-yellow: #FABE28;
$color-dark-yellow: #ffb400;
$color-darkest-yellow: #85630f;

$color-bgreen: #88C100;

$color-clear-green-sea: #99e9d9;
$color-green-sea: #1ABC9C;
$color-dark-green-sea: #16A085;
$color-darkest-green-sea: #006551;

$color-clear-blue: #91d5fb;
$color-blue: #22A7F0;
$color-darkest-blue: #09486b;

$color-light-gblue: #00B9BD;
$color-gblue: #007E80;
$color-dark-gblue: #004853;

$theme-menu-bg-color: #D4D4D4;
$theme-success-color: #00B16A;
$color-blue: #22A7F0;
$theme-danger-color: $color-red;

.multiselect-item {
    .btn {
        margin: 0;
    }
}

// Blue Themes
.flat-blue {

  background-color: $color-light-grey;

  a {
    color: $color-dark-blue-hover;
  }

  a:hover {
    color: $color-darkest-blue;
  }

  .app-footer {
    opacity: 0.7;
    color: $color-dark-blue;
  }

  // Navbar
  .navbar, .navbar.navbar-default {
    border-bottom: 0px;

    box-shadow: 0 1px 2px rgba(0,0,0,0.08);

    & > .container-fluid {
      background-color: $color-white;
    }

    .navbar-header {

      .navbar-brand {
        color: $color-light-grey;
      }

      .navbar-expand-toggle {
        color: $color-dark-blue;
      }
      .navbar-right-expand-toggle {
        color: $color-dark-blue;
      }
    }

    .navbar-breadcrumb {
      li {
        color: $color-dark-blue;
        a {
          color: $color-dark-blue;
        }
      }
    }
    .navbar-nav {
      & > li {
        border-left: 1px solid $color-light-grey;
        & > a {
          color: $color-dark-blue;
        }
      }
      & > li:hover {
        & > a {
          color: $color-dark-blue-1;
        }
      }
      & > li.open {
        & > a {
          background-color: transparent;
          color: $color-blue;
        }
      }
      & > li.danger {

        & > a {
          background-color: transparent;
          border-bottom: 4px solid $theme-danger-color;
          color: $theme-danger-color;
        }
      }
      & > li.danger.open {
        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }
      .dropdown-menu {
        background-color: $color-light-grey;
        border-color: $color-grey-level1;
        .title {
          background-color: $color-white;
          .badge {
            background-color: $color-dark-blue;
          }
        }
      }
      .dropdown-menu.danger {
        border-color: $theme-danger-color;
        .title {
          background-color: $theme-danger-color;
          color: $color-white;

          .badge {
            background-color: $color-white;
            color: $theme-danger-color;
          }
        }
      }
    }
  }

  .navbar.navbar-inverse {
    background-color: $color-dark-blue;
    border-bottom: 0px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    & > .container-fluid {
      background-color: $color-dark-blue;
    }

    .navbar-header {

      .navbar-brand {
        color: $color-light-grey;
      }

      .navbar-expand-toggle {
        color: $color-white;
      }
      .navbar-right-expand-toggle {
        color: $color-white;
      }
    }

    .navbar-breadcrumb {
      li {
        color: $color-white;
        a {
          color: $color-white;
        }
      }
    }
    .navbar-nav {
      & > li {
        border-left: 1px solid $color-dark-blue-hover;
        & > a {
          color: $color-white;
        }
      }
      & > li:hover {
        & > a {
          color: $color-dark-blue-1;
        }
      }
      & > li.open {

        & > a {
          background-color: transparent;
          color: $color-blue;
        }
      }
      & > li.danger {

        & > a {
          background-color: transparent;
          border-bottom: 4px solid $theme-danger-color;
          color: $color-white;
        }
      }
      & > li.danger.open {
        & > a {
          background-color: $color-red;
        }
      }
      .dropdown-menu {
        background-color: $color-light-grey;
        border-color: $color-dark-blue;
        .title {
          background-color: $color-white;
          .badge {
            background-color: $color-dark-blue;
          }
        }
      }
      .dropdown-menu.danger {
        border-color: $theme-danger-color;
        .title {
          background-color: $theme-danger-color;
          color: $color-white;

          .badge {
            background-color: $color-white;
            color: $theme-danger-color;
          }
        }
      }
    }
  }

  // Menu Bar
  .side-menu {
    background-color: $color-white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.08);

    .navbar-header {
      background-color: $color-blue;
      margin-bottom: 4px;
      .navbar-brand {
        color: $color-light-red;
      }
    }

    .navbar-nav {
      width: 100%;
    }

    .navbar {
      background-color: $color-white;
      border-bottom: 0px;

      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      li {
        & > a {
          color: $color-dark-blue-hover;
        }
      }
      li.active {
        border-left: 0;

        & > a {
          border-right: 4px solid $color-blue;
          background-color: $color-white;
        }
      }
      & > li:hover {
        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }

      li.dropdown {

        background-color: transparent;
        & > .panel-collapse {
          background-color: $color-grey-level1;
        }

        .panel-body {
          padding: 0 7px;
        }
      }
    }
  }

  .side-menu.sidebar-inverse {
    background-color: $color-dark-blue;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.08);

    .navbar {
      background-color: $color-dark-blue;
      border-bottom: 0px;

      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      li {
        border-left: 0;
        & > a {
          color: $color-white;
        }
      }
      li.active {

        & > a {

          .icon {
            margin-left: -3px;
          }
          color: $color-dark-blue;
          border-left: 3px solid $color-blue;
          border-right: 0px solid $color-blue;
          background-color: $color-white;
        }
      }
      & > li:hover {
        & > a {
          background-color: $color-red;
          color: $color-white;
        }
      }

      li.dropdown {
        & > .panel-collapse {
          background-color: rgba(0,0,0,0.1);
        }

        .panel-body {
          padding: 0 7px;
        }
      }
    }
  }

  /* small screen */
  @media (max-width: 768px) {
    .navbar.navbar-default {
      .navbar-nav > li {
        border-left: 0;
      }
      .navbar-right {
        background-color: $color-white;
        .open {
          .dropdown-menu {
          }
        }
      }
    }
    .navbar.navbar-inverse {
      .navbar-nav > li {
        border-left: 0;
      }
      .navbar-right {
        background-color: $color-dark-blue;
        .open {
          .dropdown-menu {
          }
        }
      }
    }
  }

  // Card
  .card.red {
    background-color: $color-red;
    color: $color-white;
  }

  .card.yellow {
    background-color: $color-dark-yellow;
    color: $color-white;
  }

  .card.green {
    background-color: $color-green-sea;
    color: $color-white;
  }

  .card.blue {
    background-color: $color-blue;
    color: $color-white;
  }

  .card.dark {
    background-color: $color-dark-blue;
    color: $color-white;
  }

  .card.red , .card.yellow , .card.green , .card.blue , .card.dark {
    border: 0;
    .card-header {
      border-bottom: 0;
      .title {
       color: $color-white;
      }
    }
  }

  .card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 0px solid $color-grey-level1;
    .card-header {
      border-bottom: 1px solid $color-grey-level1;
      .title {
        color: $color-dark-blue;
      }
    }

    .card-body {
      .sub-title {
        border-bottom: 1px solid $color-grey;
      }
    }

    .card-header.no-border {
      border-bottom: 0;
    }

    .card-jumbotron {
      background-color: $color-grey;
    }
  }

  // Jumbotron Color
  .card.primary {
    .card-jumbotron {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  .card.profile {
    .card-body {
    }

    .card-footer {
      border-top: 1px solid $color-light-grey;
    }
  }

  .card.summary-inline.red:hover {
    background-color: $color-darkest-red;
  }

  .card.summary-inline.yellow:hover {
    background-color: $color-darkest-yellow;
  }

  .card.summary-inline.green:hover {
    background-color: $color-darkest-green-sea
  }

  .card.summary-inline.blue:hover {
    background-color: $color-dark-blue;
  }
  .card.summary-inline.dark:hover {
    background-color: $color-darkest-blue;
  }

  .card.card-success {
    .card-header {
      background-color: $color-green-sea;
      .title {
        color: $color-white;
      }
    }
  }

  .card.card-info {
    .card-header {
      background-color: $color-blue;
      .title {
        color: $color-white;
      }
    }
  }

   // Panel
  .panel.panel-default {
    border: 1px solid $color-grey;
    .panel-heading {
      border-bottom: 1px solid $color-grey;
      background-color: $color-lighter-grey;
    }
  }

  .panel.panel-primary {
    border: 1px solid $color-dark-blue;
    .panel-heading {
      border-bottom: 1px solid $color-dark-blue;
      background-color: $color-clear-dark-blue;
      color: $color-white;
    }
  }

  .panel.panel-success {
    border: 1px solid $color-green-sea;
    .panel-heading {
      border-bottom: 1px solid $color-green-sea;
      background-color: $color-clear-green-sea;
      color: $color-darkest-green-sea;
    }
  }

  .panel.panel-info {
    border: 1px solid $color-blue;
    .panel-heading {
      border-bottom: 1px solid $color-blue;
      background-color: $color-clear-blue;
      color: $color-darkest-blue;
    }
  }

  .panel.panel-warning {
    border: 1px solid $color-yellow;
    .panel-heading {
      border-bottom: 1px solid $color-yellow;
      background-color: $color-clear-yellow;
      color: $color-darkest-yellow;
    }
  }

  .panel.panel-danger {
    border: 1px solid $color-lightest-red;
    .panel-heading {
      border-bottom: 1px solid $color-lightest-red;
      background-color: $color-clear-red;
      color: $color-darkest-red
    }
  }


  // Panel with Fresh color
  .panel.fresh-color.panel-primary {
    border: 1px solid $color-dark-blue;
    .panel-heading {
      border-bottom: 1px solid $color-dark-blue;
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-success {
    border: 1px solid $color-green-sea;
    .panel-heading {
      border-bottom: 1px solid $color-green-sea;
      background-color: $color-green-sea;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-info {
    border: 1px solid $color-blue;
    .panel-heading {
      border-bottom: 1px solid $color-blue;
      background-color: $color-blue;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-warning {
    border: 1px solid $color-yellow;
    .panel-heading {
      border-bottom: 1px solid $color-yellow;
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .panel.fresh-color.panel-danger {
    border: 1px solid $color-red;
    .panel-heading {
      border-bottom: 1px solid $color-red;
      background-color: $color-red;
      color: $color-white;
    }
  }

  // Button
  .btn.btn-default {
    background-color: $color-lighter-grey;
    border-color: $color-grey;
  }
  .btn.btn-default:hover {
    background-color: $color-grey;
  }

  .btn.btn-primary {
    background-color: $color-dark-blue;
    color: $color-white;
    border-color: $color-dark-blue;
  }

  .btn.btn-success {
    background-color: $color-green-sea;
    color: $color-white;
    border-color: $color-green-sea;
  }

  .btn.btn-warning {
    background-color: $color-yellow;
    color: $color-white;
    border-color: $color-yellow;
  }

  .btn.btn-info {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;
  }
  .btn.btn-danger {
    background-color: $color-red;
    color: $color-white;
    border-color: $color-red;
  }
  .btn.btn-link {
    color: $color-dark-blue;
  }

  // Progress Bar
  .progress {
    .progress-bar {
      background-color: $color-dark-blue;
      color: $color-white;
    }
    .progress-bar.progress-bar-success {
      background-color: $color-green-sea;
    }
    .progress-bar.progress-bar-info {
      background-color: $color-blue;
    }
    .progress-bar.progress-bar-warning {
      background-color: $color-yellow;
    }
    .progress-bar.progress-bar-danger {
      background-color: $color-red;
    }
  }

  // Font Color
  .color-white {
    color: $color-white;
  }

  // Pagination
  .pagination {
    & > li {
      & > a {
        color: $color-dark-blue;
      }
    }
    .active {
      & > a , & > a:focus, & > a:hover , span , & > span:focus, & > span:hover {
        background-color: $color-dark-blue;
        border-color: $color-dark-blue;
        color: $color-white;
      }
    }
  }

  // Modal
  .modal.modal-primary {
    .modal-header {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  .modal.modal-success {
    .modal-header {
      background-color: $color-green-sea;
      color: $color-white;
    }
  }

  .modal.modal-info {
    .modal-header {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  .modal.modal-warning {
    .modal-header {
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .modal.modal-danger {
    .modal-header {
      background-color: $color-red;
      color: $color-white;
    }
  }

  // Alert
  .alert.alert-success {
    background-color: $color-clear-green-sea;
    color: $color-darkest-green-sea;
    border-color: $color-green-sea;

    .alert-link {
      color: $color-darkest-green-sea;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-green-sea;
    }
  }
  .alert.alert-info {
    background-color: $color-clear-blue;
    color: $color-darkest-blue;
    border-color: $color-blue;

    .alert-link {
      color: $color-darkest-blue;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-blue;
    }
  }
  .alert.alert-warning {
    background-color: $color-clear-yellow;
    border-color: $color-yellow;
    color: $color-darkest-yellow;

    .alert-link {
      color: $color-darkest-yellow;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-yellow;
    }
  }
  .alert.alert-danger {
    background-color: $color-clear-red;
    border-color: $color-lightest-red;
    color: $color-darkest-red;

    .alert-link {
      color: $color-darkest-red;
      text-decoration: underline;
    }

    .btn-link {
      color: $color-darkest-red;
    }
  }

  .alert.fresh-color {
    color: $color-white;
    .alert-link {
      color: $color-white;
      text-decoration: underline;
    }
    .btn-link {
      color: $color-white;
    }
  }

  .alert.fresh-color.alert-success {
    background-color: $color-green-sea;
  }
  .alert.fresh-color.alert-info {
    background-color: $color-blue;
  }
  .alert.fresh-color.alert-warning {
    background-color: $color-yellow;
  }
  .alert.fresh-color.alert-danger {
    background-color: $color-red;
    border-color: $color-red;
  }


  // List Group
  .list-group {
    .list-group-item.active {
      background-color: $color-dark-blue;
      color: $color-white;
      border-color: $color-dark-blue;

      .badge {
        color: $color-dark-blue;
      }
    }

    .list-group-item.list-group-item-success {
      background-color: $color-clear-green-sea;
      color: $color-darkest-green-sea;
      border-color: $color-clear-green-sea;

      .badge {
        background-color: $color-white;
        color: $color-green-sea;
      }
    }

    .list-group-item.list-group-item-info {
      background-color: $color-clear-blue;
      color: $color-darkest-blue;
      border-color: $color-clear-blue;

      .badge {
        background-color: $color-white;
        color: $color-blue;
      }
    }

    .list-group-item.list-group-item-warning {
      background-color: $color-clear-yellow;
      color: $color-darkest-yellow;
      border-color: $color-clear-yellow;

      .badge {
        background-color: $color-white;
        color: $color-yellow;
      }
    }

    .list-group-item.list-group-item-danger {
      background-color: $color-clear-red;
      color: $color-darkest-red;
      border-color: $color-clear-red;

      .badge {
        background-color: $color-white;
        color: $color-red;
      }
    }
  }


  // Bootstrap Switch
  .bootstrap-switch {
    border-color: $color-grey;
    .bootstrap-switch-primary {
      background-color: $color-dark-blue;
    }
  }

  // Table
  .table {
    .active {
      td, th {
        background-color: $color-grey;
      }
    }
    .success {
      color: $color-darkest-green-sea;

      td, th {
        background-color: $color-clear-green-sea;
      }
    }
    .info {
      color: $color-darkest-blue;

      td, th {
        background-color: $color-clear-blue;
      }
    }
    .warning {
      color: $color-darkest-yellow;

      td, th {
        background-color: $color-clear-yellow;
      }
    }
    .danger {
      color: $color-darkest-red;

      td, th {
        background-color: $color-clear-red;
      }
    }

    & > tbody , & > tfoot {
      & > tr {
        & > td , & > th {
          border-color: $color-grey;
        }
      }
    }
    & > thead {
      & > tr {
        & > th {
          border-color: $color-grey;
        }
      }
    }
  }
  .table.table-striped {
    & > tbody {
      & > tr:nth-of-type(odd) {
        background-color: $color-light-grey-1;
      }
    }
  }

  // Login page
  .login-box {
    .login-form {
      .login-header  {
        color: $color-white;
      }
      .login-body {
        background-color: $color-white;
      }
    }

    input {
      background-color: $color-light-grey;
      border: 1px solid $color-light-grey;
    }

    .login-footer {
      a {
        color: $color-white;
      }
      a:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }

  // Badge
  .badge.primary {
    background-color: $color-dark-blue;
  }
  .badge.success {
    background-color: $color-green-sea;
  }
  .badge.info {
    background-color: $color-blue;
  }
  .badge.warning {
    background-color: $color-yellow;
  }
  .badge.danger {
    background-color: $color-red;
  }

  // Tabs
  .nav-tabs {
    background-color: $color-grey;

    & > li {
      & > a:hover {
        background-color: $color-grey;
      }
    }

    & > li.active {
      & > a:hover {
        background-color: $color-white;
      }
    }
  }


  // Overide BS3 Tab for Position

  .tabs-below > .nav-tabs {
    border-top: 1px solid $color-grey-level1;
  }

  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: $color-grey-level1;
    border-bottom-color: transparent;
  }

  .tabs-below > .nav-tabs > .active > a,
  .tabs-below > .nav-tabs > .active > a:hover,
  .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent $color-grey-level1 $color-grey-level1 $color-grey-level1;
  }

  .tabs-left > .nav-tabs {
    border-right: 1px solid $color-grey-level1;
  }

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: $color-grey-level1 $color-grey-level1 $color-grey-level1  $color-grey-level1;
  }

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: $color-grey-level1 transparent $color-grey-level1 $color-grey-level1;
    *border-right-color: $color-white;
  }

  .tabs-right > .nav-tabs {
    border-left: 1px solid $color-grey-level1;
  }

  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus {
    border-color: $color-grey-level1 $color-grey-level1 $color-grey-level1 $color-grey-level1;
  }

  .tabs-right > .nav-tabs .active > a,
  .tabs-right > .nav-tabs .active > a:hover,
  .tabs-right > .nav-tabs .active > a:focus {
    border-color: $color-grey-level1 $color-grey-level1 $color-grey-level1 transparent;
    *border-left-color: $color-white;
  }


  // Step
  .step {
    .nav-tabs {
      background-color: $color-white;
    }
  }


  // Tab Step Horizontal
  .step {
    .nav-tabs {
      & > li {
        border: 1px solid $color-grey-level1;
        border-right: 0;
      }
      & > li:after {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid $color-white;
      }
      & > li:before {
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid $color-grey-level1;
      }
      & > li.active {
        background-color: $color-grey;
        & > a  , & > a:focus , & > a:hover {
          background: transparent;

        }
      }
      & > li:hover {
        background-color: $color-grey;
      }
      & > li:hover:after, & > li.active:after {
        border-left: 15px solid $color-grey;
      }
      & > li:last-child {
        border-right: 1px  solid $color-grey-level1;
      }

      & > li.step-success {
        background-color: $color-clear-green-sea;
        border: 1px solid $color-green-sea;
        a {
          color: $color-darkest-green-sea;
        }
      }

      & > li.step-disabled {
        background-color: $color-clear-green-sea;
      }
      & > li.step-success:after {
        border-left: 15px solid $color-clear-green-sea;
      }
      & > li.step-success.active:hover:after {
        border-left: 15px solid $color-clear-green-sea;
      }

      & > li.step-success:hover:after {
        border-left: 15px solid $color-grey;
      }

    }
  }

  .step.card-no-padding {
    .nav-tabs {

      & > li {
        border: 0px solid transparent;
        border-right: 1px  solid $color-grey-level1;
        border-bottom: 1px  solid $color-grey-level1;
      }
      & > li:last-child {
        border-right: 0px  solid $color-grey-level1;

      }
    }
  }

  .step.tabs-left {
    .nav-tabs {
      & > li {
        border: 1px solid $color-grey-level1;
      }
      & > li:after {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid $color-white;
      }
      & > li:before {
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid $color-grey-level1;
      }
      & > li.active {
        background-color: $color-grey;
        & > a  , & > a:focus , & > a:hover {
          background: transparent;
        }
      }
      & > li:hover {
        background-color: $color-grey;
      }
      & > li:hover:after , & > li.active:after{
        border-left: 15px solid $color-grey;
      }
    }
  }

  .step.tabs-left.card-no-padding {
    .nav-tabs {
      & > li {
        border: 0px solid transparent;
      }
    }
  }

  // pricing table
  .pricing-table {
    box-shadow: 0 1px 1px $color-grey-level3;
    .pt-header {
      background-color: $color-grey-level1;

      .plan-pricing {
        .pricing {
          text-shadow: 0 1px 1px $color-white;
        }
      }
    }

    .pt-body {
      background-color: $color-light-grey;
      .plan-detail {
        border-top: 1px dashed rgba(255,255,255,0.6);
        padding-top: 1em;
        margin-top: 1em;
      }
    }
    .pt-footer {
      background-color: $color-light-grey;
    }
  }

  // pricing table
  .pricing-table.dark-blue {
    .pt-header {
      background-color: $color-dark-blue;
      color: $color-white;
    }

    .pt-body {
      background-color: $color-clearer-dark-blue;
      color: $color-dark-blue-hover;
    }
    .pt-footer {
    }
  }
  // pricing table
  .pricing-table.green {
    .pt-header {
      background-color: $color-green-sea;
      color: $color-white;
    }

    .pt-body {
      background-color: $color-clear-green-sea;
      color: $color-darkest-green-sea;
    }
    .pt-footer {
    }
  }

  // pricing table
  .pricing-table.blue {
    .pt-header {
      background-color: $color-blue;
      color: $color-white;
    }

    .pt-body {
      background-color: $color-clear-blue;
      color: $color-darkest-blue;
    }
    .pt-footer {
    }
  }
  // pricing table
  .pricing-table.yellow {
    .pt-header {
      background-color: $color-yellow;
      color: $color-white;
    }

    .pt-body {
      background-color: $color-clear-yellow;
      color: $color-darkest-yellow;
    }
    .pt-footer {
    }
  }
  // pricing table
  .pricing-table.red {
    .pt-header {
      background-color: $color-red;
      color: $color-white;
    }

    .pt-body {
      background-color: $color-clear-red;
      color: $color-darkest-red;
    }
    .pt-footer {
    }
  }
}

// Landing Pages
.flat-blue.landing-page {
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
  }

  .navbar {
    background-color: transparent;
    box-shadow: none;

    .navbar-nav {
      & > .active {
        & > a {
          background-color: transparent;
        }
      }
      & > li {
        border-left: 0px solid $color-light-grey;
        & > a {
          color: $color-white;
        }
      }
    }
    .navbar-collapse {
      border: 0;
    }
  }
  .navbar.affix {
    .navbar-nav {
      & > li {
        & > a {
          color: $color-dark-blue;
        }
      }
      & > li:hover {
        & > a {
          color: $color-blue;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar {
      .navbar-collapse {
        background-color: #333;
      }
      .navbar-right {
        background-color: transparent;
        color: #FFF;
      }
    }
    .navbar.affix {
      .navbar-nav > li > a {
        color: #FFF;
      }
    }
  }

  .navbar.affix {
    .navbar-brand {
      color: $color-dark-blue;
    }
    .navbar-toggle {
      .icon-bar {
          background-color: $color-dark-blue;
      }
    }
  }

  .app-header {
    .app-btn {
      background-color: transparent;
      border: 2px solid $color-white;
    }
  }

  .app-content-a {
    background-color: $color-grey;
  }
}
// Global Elements
html {
  height: 100%
}

body {
  padding-top: 0px;
  height: 100%;
  position: relative;
  font-size: 13px;
}

// Bootstrap Wrap
* {
  outline: none;
}
.row {
  & > [class*="col-"] {
    margin-bottom: 25px;
  }
}

.row.no-margin-bottom {
  & > [class*="col-"] {
    margin-bottom: 10px;
  }
}

.row.no-gap {
  margin-left: 0;
  margin-right: 0;
  & > [class*="col-"] {
    padding-left:0;
    padding-right: 0px;
  }
}

.no-padding {
  padding: 0px !important;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

//  Font
.font-weight-300 {
  font-weight: 300;
}

// Global Class
.text-indent {
  text-indent: 1em;
}

// Navbar
.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  & > .container, & > .container-fluid {
    z-index: 10001;
    .navbar-brand {
      height: 60px;
      line-height: 60px;
      margin-left: 0px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      padding: 0;
      font-size: 1.5em;

      .fa-angle-right {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .navbar-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      float: left;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      opacity: 0.75;
    }

    .navbar-expand-toggle .icon {
      font-size: 1.4em;
    }


    .navbar-right-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      // float: left;
      position: absolute;
      right: 0;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      opacity: 0.75;
    }

    .navbar-right-expand-toggle .icon {
      font-size: 1.4em;
    }
  }

  .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left;

    & > li {
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em;

    }
  }

  .navbar-nav {
    & > li {
      & > a {
        font-family: 'Roboto Condensed', sans-serif;
        height: 60px;
        line-height: 60px;
        padding: 0px 20px 0px 20px;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;

    z-index: -1;
    position: absolute;

    .title {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px 10px;

      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    }

    .message {
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      padding: 10px 20px;
    }

    .notifications.list-group {
      list-style: none;
      padding: 0;
      margin: 0;

      .list-group-item {
        min-width: 250px;
        padding: 8px;
        border: 0;
        border-bottom: 1px solid #EEE;

        .icon {
          margin-right: 5px;
        }
      }

      .badge {
        border-radius: 1em;
      }

      .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }

      a.list-group-item:hover {
        cursor: pointer;
      }
    }
  }
  .dropdown.profile {
    .dropdown-menu {
      width: 305px;
      padding-bottom: 0px;
      text-align: center;

      li.profile-img {
        padding: 0px;
        max-height: 300px;
        overflow: hidden;

        img.profile-img {
          width: 100%;
          height: auto;
          margin: 0px;
          border: 0;
        }
      }
      .profile-info {
        font-family: 'Roboto Condensed', sans-serif;
        padding: 15px;

        .username {
          font-size: 1.8em;
        }
      }
    }
  }
}

// Side Menu Lib
.app-container {
  min-height: 100%;
  position:relative;
  padding-bottom: 30px;

  .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 65px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;

    .wrapper {
      padding: 10px 35px;
      padding-left: 25px;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
    }
  }
  .content-container {

    margin-right: 0;
    margin-left: 0;
    .side-menu {
      overflow-y: auto;
      z-index: 100000;
      position: fixed;
      width: 60px;
      height: 100%;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;

      .navbar-header {
        width: 100%;
        border-bottom: 0px solid #e7e7e7;

        .navbar-brand {
          width: 455px;
          line-height: 60px;
          height: 60px;
          padding: 0;
          width: 100%;
          overflow: hidden;
          font-family: 'Roboto Condensed', sans-serif;

          .icon {
            width: 60px;
            text-align: center;
            display: inline-block;
          }

          .title {
            margin-left: -10px;
            display: none;
          }
        }
        .navbar-expand-toggle {
          position: absolute;
          right: 0;
          width: 60px;
          height: 60px;
          background-color: transparent;
          border: 0px;
          -moz-transition: all 0.25s linear;
          -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;

          opacity: 0.75;
        }
      }

      .navbar {
        border: none;
        padding-left: 0px;
      }

      .navbar-nav {
        li {
          display: block;
          width: 100%;
          overflow: hidden;

          a {
            font-family: 'Roboto Condensed', sans-serif;
            padding: 0 10px 0 10px;
            height: 46px;
            line-height: 46px;
            display: block;
            white-space: nowrap;

            .icon {
              margin-left: 0px;
              width: 38px;
              text-align: center;
              font-size: 1.1em;
              display: inline-block;
            }

            .title {
              width: 0px;
              white-space: nowrap;
              padding-left: 6px;
              display: none;
            }
          }
        }

        li.dropdown {
          border:0;
          margin-bottom: 0;
          border-radius: 0;

          box-shadow: none;
          ul {
            li {
              a {
                height: 44px;
                line-height: 44px;
                vertical-align: middle;
                padding: 0em 1.2em;
              }
            }
          }

          & > a:after {
           content: "";
           position: absolute;
           right: 1em;

          }
        }

        .panel-collapse.in {
          display: none;
        }
      }
    }

    .side-menu:hover {
      width: 250px;
      .navbar-header {
        .navbar-brand {

          .title {
            display: inline-block;
          }
        }
      }

      .navbar-nav {
        li {
          a {
            .title {
              width: 192px;
              display: inline-block;
            }
          }
        }
        li.dropdown {
          & > a:after {
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            right: 1em;
          }
        }
      }
      .panel-collapse.in {
        display: block;
      }
    }

    .side-body {
      padding-top: 70px;
    }

    .side-body.padding-top {
      padding-top: 84px;
    }
  }
}
.app-container.expanded {
  .app-footer {
    left: 250px;
    .wrapper {
      padding-left: 25px;
    }
  }

  .content-container {

    .navbar-top {
      padding-left: 250px;
    }
    .side-menu {
      width: 250px;

      .navbar-header {
        .navbar-brand {

          .title {
            display: inline-block;
          }
        }
      }

      .navbar-nav {
        li {
          a {
            .title {
              display: inline-block;
            }
          }

          .panel-collapse.in {
            display: block;
          }
        }
        li.dropdown {
          & > a:after {
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            right: 1em;
          }
        }
      }
    }
  }
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -15px;
  margin-right: -15px;
}

.page-title {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: -10px;
  margin-right: -10px;
  padding: 15px 10px;
  margin-bottom: 0px;
  height: auto;

  .title {
    font-size: 2em;
  }

  .page-action {
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
  }
}

.sub-title {
  font-family: 'Roboto Condensed', sans-serif;
  & > * {
    display: inline-block;
  }

  h3 {
    margin-right: 10px;
  }

  .description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
  }

  .action {
    .btn {
      padding: 0 0.5em;
    }
  }
}

/* Main body section */
.app-container .side-body {
  margin-left: 75px;
  margin-right: 15px;

  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.app-container.expanded .side-body {
  margin-left: 260px;
}

/* small screen */
@media (max-width: 768px) {
  .navbar {
    padding-left: 0;
    .navbar-header {
      width: auto;
      display: block;
    }
    .navbar-nav {
      width: auto;
      margin: 0;
      & > li {
        display: inline-block;
      }
    }
    .navbar-right {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      .open {
        .dropdown-menu {
          position: absolute;
        }
      }
    }
    .navbar-right.expanded {
      right: 0;
    }
  }
  .app-container {
    .navbar-top {
      min-width: 300px;
    }
    .content-container {
      .side-menu {
        margin-left: -250px;
        width: 0px;
      }
      .side-body {
        margin-left: 10px;
      }
    }
  }
  .app-container.expanded {
    .navbar-top {
      min-width: 480px;
      padding-left: 0px;
    }
    .side-menu {
      margin-left: 0px;
      width: 250px;
    }
    .side-body {
      margin-left: 10px;
    }
  }
  .app-container, .app-container.expanded {
    .app-footer {
      .wrapper {
        padding-left: 25px;
      }
    }
  }
}

/* Card */
.card {
  background-color: #FFF;
  border-radius: 1px;
  overflow: visible;
  position: relative;

  .card-body {
    padding: 25px;

    .sub-title {
      font-size: 1.2em;
      padding: 1.2em 0em 0.4em 0em;
      margin-bottom: 25px;

      .description {
        padding-left: 0.4em;
        font-size: 0.8em;
        opacity: 0.8;
      }
    }
  }

  .card-body.half-padding {
    padding: 12.5px;
  }

  .card-header {
    .card-title {
      padding: 1.2em 25px;
      float: left;

      .title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5em;
        text-decoration: none;
      }

      .description {
      }
    }

    .pull-right {
      padding: 0.5em 1em;
    }
  }

  .card-header:after {
    content:'';
    display:block;
    clear:both;
  }

  .card-profile-img {

    img {
      width: 100%;
      height: auto;
    }
  }

  .card-jumbotron {
    padding: 1.5em 1.5em;
  }
}

.card:hover {
  .card-header {
    .title {
      text-decoration: none !important;
    }
  }
}

.card.summary-inline {
  .card-body {
    padding: 20px;
    .icon {
    }
    .content {
      float: right;

      .title {
        font-family: 'Lato', sans-serif;
        margin-top: -0.3em;
        font-size: 3.5em;
        text-align: right;
      }

      .sub-title {
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
        text-align: right;
        margin-top: -10px;

        margin-bottom: 0;
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}

.card.profile {
  .card-body {
    padding: 0.5em 0.8em;
  }

  .card-footer {
    padding: 0.5em 0.8em;
  }
}

// Panel
.panel {
  border-radius: 1px;

  .panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

// Chart
.chart {
  padding: 15px;
}
.chart.no-padding {
  padding: 0;
  margin-bottom: -5px;
}

// Button {
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1px;
  border-width: 1px;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-group-lg {
  & > .btn, & > .btn-lg {
    border-radius: 1px;
  }
}

// Progress Bar
.progress {
  border-radius: 1px;
  box-shadow: none;

  .progress-bar {
    box-shadow: none;
  }
}

// Pagination
.pagination {
  margin-top: 5px;
  margin-bottom: 5px;

  li:first-child {
    & > a , span{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  li:last-child {
    & > a , span{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

// Form
.form-control {
  border-radius: 1px;
  box-shadow: none;
}

// Modal
.bs-example-modal {
  .modal {
    z-index: 100;
    position: relative;
    display: block;
  }
}

.modal {
  z-index: 100001;

  .modal-dialog {
    .modal-header {

      font-family: 'Roboto Condensed', sans-serif;

    }
    .modal-content {
      border-radius: 1px;
      box-shadow: none;
    }

    .modal-footer {
      .btn {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
.modal-backdrop {
  z-index: 100000;
}
.modal-backdrop.in {
  opacity: 0.8;
}

// Alert
.alert {
  border-width: 0px;
  border-radius: 1px;
}

// List Group
.list-group {

  .badge {
    border-radius: 1px;
  }

  .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}

// Checkbox
.checkbox3, .radio3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.checkbox-inline {
  margin-bottom: 5px;
}
.checkbox3 label, .radio3 label  {
  padding: 8px 0 8px 30px;
}
.checkbox3 label::before, .radio3 label::before {
  top: 5px;
}
.checkbox3 label::after, .radio3 label::after {
  top: 5px;
}
.checkbox3 label, .radio3 label , .checkbox-inline, .radio-inline {
  font-weight: normal;
}

// Bootstrap Switch
.bootstrap-switch {
  border-radius: 1px;
}

// Thumbnail
.thumbnail {
  border-radius: 1px;
  padding: 0;

  .caption {
    padding: 0.5em 1.2em;

    .h1, .h2, .h3, h1, h2, h3 {
      margin-top: 15px;
    }
  }
}


@media (max-width: 768px) {

  body.login-page {
    .login-form {
      .login-header {
        margin-bottom: 1em;
      }
    }
    .login-box {
      width: 100%;
      max-width: 260px;
    }
  }
}

// DataTable
.dataTables_wrapper  {
  .row {
    margin-bottom: 0.5em;
  }
  .top {
    margin-bottom: 6px;
    position: relative;
  }
  .bottom {
    margin-top: 6px;
  }

  .top:after , .bottom:after {
    position: relative;
    clear: both;
    display: block;
    content: '';
  }

  .dataTables_paginate {
    .paginate_button {
      padding: 0;
      margin-left: 0;
      border: 0;
    }
    .paginate_button:hover , .paginate_button.disabled  , .paginate_button.disabled:hover, .paginate_button.disabled:active{
      border: 0;
    }
  }

  tfoot {
    display: none;
  }
}

.code-preview {
  width: 100%;
  min-height: 400px;
}

// Tabs

.nav-tabs {
  & > li {
    margin-bottom: -1px;
    & > a {
      border-radius: 0;
      border: 0;
    }
  }
  & > li.active {
    & > a, & > a:focus , & > a:hover{
      border-radius: 0;
      border-top: 0;
    }
  }
}
.tab-content {
  & > div {
  padding: 20px;

  }
}

// Overide BS3 Tab for Position
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left , .tabs-right{
  display: table;
}
.tabs-left > .nav-tabs {
  display:table-cell;
  margin-right: 19px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}


.tabs-right > .nav-tabs {
  display:table-cell;
  margin-left: 19px;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
}

.tab:after {
  content: '';
  display: block;
  clear:both;
}


// Tab Step Horizontal
.step {
  .nav-tabs {
    border-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;

    & > li[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    & > li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    & > li {
      border-right: 0;
      & > a {
        margin-right: 0;
        display: block;
        width: 100%;
        padding: 1em;
        padding-left: 2em;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        border-bottom: 0;

        .icon {
          font-size: 2.5em;
          display: inline-block;
          margin-right: 0.25em;
          vertical-align: middle;

        }
        .step-title {
          width: auto;
          display: inline-block;
          vertical-align: middle;
          text-align: left;

          .title {
            font-weight: bold;
            font-size: 1.1em;
          }

          .description {
            font-size: 0.9em;
          }
        }
      }
      & > a:hover {
        border-bottom: 0;
      }
    }

    & > li:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translate(0%, -50%);
      z-index: 100001;
    }

    & > li:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      right: -16px;
      transform: translate(0%, -50%);
      z-index: 100000;
    }

    & > li.active {
      & > a  , & > a:focus , & > a:hover {
        border: 0;
        border-radius: 0;
        border-bottom: 0;
      }
    }

    & > li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    & > li:last-child:before , & > li:last-child:after {
      display: none;
    }
  }

  .tab-content {
    & > div {
      padding: 0;
    }
  }
}

.step.card-no-padding {
  .nav-tabs {
    margin-bottom: 0px;
    & > li {
      border-radius: 0;
    }
  }
  .tab-content {
    & > div {
      padding: 20px;
    }
  }
}

.step.tabs-left {
  .tab-content {
    padding: 5px 15px;
    display: table-cell;
    vertical-align: top;
    & > div {
      padding: 20px;
    }
  }
  .nav-tabs {
    border-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    & > li[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    & > li:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    & > li {
      border-right: 0px;
      min-width: 250px;
      display: table;
      width: 250px;

      & > a {
        margin-right: 0;
        display: table-cell;
        width: 100%;
        padding: 1em;
        padding-left: 2em;
        vertical-align: middle;
        table-layout:fixed;
        white-space: nowrap;
        overflow: hidden;

        .icon {
          font-size: 2.5em;
          display: inline-block;
          margin-right: 0.25em;
          vertical-align: middle;

        }
        .step-title {
          width: auto;
          display: inline-block;
          vertical-align: middle;

          .title {
            font-weight: bold;
            font-size: 1.1em;
          }

          .description {
            font-size: 0.9em;
          }
        }
      }
      & > a:hover {
        border-bottom: 0;
      }
    }

    & > li:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      z-index: 10000;
      display: none;
    }

    & > li:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      right: -16px;
      transform: translate(0%, -50%);
      z-index: 10000;
      display: none;
    }

    & > li.active {
      & > a  , & > a:focus , & > a:hover {
        border: 0;
        border-radius: 0;
        border-bottom: 0;
      }
    }

    & > li.active:after, & > li.active:before {
      display: block;
    }

    & > li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}


@media (max-width: 768px) {
  .step {
    .nav-tabs {

      & > li:after {
        display: none;
      }

      & > li:before {
        display: none;
      }
    }
  }
}

// Loader
.loader-container {
  display: none;
}

.loader {
  .loader-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
  }
}

// Loader Backdrop
.loader:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  border-radius: 1px;
}

// Pricing Table
.pricing-table {
  .pt-header {
    text-align: center;
    padding: 1em;

    .plan-pricing {
      .pricing {
        font-size: 2.5em;
      }

      .pricing-type {
        opacity: 0.9;
      }
    }
  }

  .pt-body {
    padding: 1em;
    text-align: center;

    .plan-detail {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .pt-footer {
    padding: 0.75em;
    text-align: center;
  }
}

// Icons Pages
.icons-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 8px;

    span {
      display: block;
    }
    .glyphicon {
      font-size: 1.5em;
    }
    .glyphicon-class {
      margin-top: 8px;
      font-size: 0.75em;
    }
  }
}
.icons-list:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}

// Example Style
.row.example {
  & > [class*='col-'] {
    & > div {
      background-color: #EEE;
      padding: 10px;
      border: 1px solid #DDD
    }
  }
}

// Breadcrumb
.breadcrumb {
  margin-bottom: 0;
  & > li+li:before {
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 3px;
  }
}

// Message-list
.message-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > a {
    & > li {
      border-bottom: 1px dotted #EEE;
      padding: 8px;
      & > .message-block {
        padding-left: 70px;
        min-height: 60px;

        .username {
          font-size: 12px;
          font-weight: bold;
        }
        .message-datetime {
          font-size: 10px;
          color: #AAA;
        }
        .message {
          font-size: 12px;
        }
      }
      .profile-img {
        width: 60px;
        height: 60px;
      }
    }
  }
  & > a:hover {
    li {

      background-color: rgba(0, 0, 0, 0.01);
    }
  }
}

// Example Item
.bs-example {
  & > * {
    margin-bottom: 20px;
  }

  & > *:last-child {
    margin-bottom: 5px;
  }
}

// Landing Pages
.landing-page {
  font-family: 'Roboto Condensed', sans-serif;
  .navbar {
    .navbar-toggle {
      position: absolute;
      right: 0;
      border-radius: 0;
      border:0;
      height: 44px;
      padding: 0 15px;
    }
  }

  .app-header {
    padding-top: 100px;
    // background-image:url('../img/app-header-bg.jpg');
    // background-repeat:no-repeat;
    // -webkit-background-size:cover;
    // -moz-background-size:cover;
    // -o-background-size:cover;
    // background-size:cover;
    // background-position:center;
    margin-bottom: 0;

    .app-logo {
      margin-bottom: 20px;
    }

    .app-title {

    }

    .app-description {
      margin-bottom: 40px;
    }
  }
  .app-content-a, .app-content-b {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .app-content-b.feature-1 {

    // background-image:url('../img/bg/picjumbo.com_HNCK3558.jpg');
    // background-repeat:no-repeat;
    // -webkit-background-size:cover;
    // -moz-background-size:cover;
    // -o-background-size:cover;
    // background-size:cover;
    // background-position:center;
    margin-bottom: 0;
  }
  .app-content-b.contact-us {
    padding-top: 60px;
    padding-bottom: 60px;

    // background-image:url('../img/contact-us-bg.jpg');
    // background-repeat:no-repeat;
    // -webkit-background-size:cover;
    // -moz-background-size:cover;
    // -o-background-size:cover;
    // background-size:cover;
    // background-position:center;
    margin-bottom: 0;

    .contact-us-header {
      font-weight: 300;
      font-size: 46px;
    }

    .contact-us-description {
      font-weight: 300;
      font-size: 18px;
      opacity: 0.9;
      text-indent: 40px;
    }

    form {
      margin-top: 20px;
      input {
        padding: 10px;
        width: 100%;
        border: 0px;
      }
    }
  }
  .app-content-header {
    font-weight: 300;
    font-size: 46px;
  }
  .app-content-description {
    font-weight: 300;
    font-size: 18px;
  }

  .app-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;

    p {
      margin: 0;
    }
  }


  .navbar-affix {
      width: 100%;
      height: 60px;
      border-top: 2px rgba(78, 205, 196, 0.8);
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      position: fixed;
      -webkit-box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
      box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
  }
  .navbar.affix {
      z-index: 4000;
      background-color: rgba(255,255,255,0.95) !important;
      height: 60px;
      opacity: 1;
      margin-top: 0px;
  }
  .navbar-affix.affix li a {
      height: 60px;
      line-height: 60px;
  }
  .navbar-affix.affix .navbar-nav>li>a {
      background-color: transparent;
      font-weight: 400;
      color: #333;
  }

  .navbar {
    padding-left: 0px;
    background-color: transparent;
    box-shadow: none;

    .navbar-right {
      position: relative;
      right: 0;
    }

    .navbar-header {
      border-bottom: 0px solid #e7e7e7;

      .navbar-brand {
        width: 45px;
        line-height: 60px;
        height: 60px;
        padding: 0;
        width: 100%;
        overflow: hidden;
        padding-left: 0px;
        font-family: 'Roboto Condensed', sans-serif;

        .icon {
          width: 50px;
          text-align: center;
          display: inline-block;
        }

        .title {
          margin-left: -10px;
          display: inline-block;
        }
      }
      .navbar-expand-toggle {
        position: absolute;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: 0px;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;

        opacity: 0.75;
      }
    }
  }
}
@media only screen and (max-width : 768px) {

  .landing-page {
    .navbar {
      .navbar-header {
        .navbar-brand {
          padding-left: 15px;
        }
      }
    }
  }
}

.row-example {
  & > [class*="col-"] {
    margin-bottom: 0px;
  }
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    // margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
